# 16MHz clock
set_io --warn-no-port clk_16mhz B2

# SPI
set_io --warn-no-port spi_sck G2 # 10
set_io --warn-no-port spi_cs H1 # 11
set_io --warn-no-port spi_sdi J1 # 12
set_io --warn-no-port spi_sdo H2 # 13

# TX
#set_io --warn-no-port tx_active B1 # 3!
#set_io --warn-no-port tx_inverted C2 # 4!
#set_io --warn-no-port tx_delay A1 # 2!

# RX
set_io --warn-no-port rx A2 # 1!

set_io --warn-no-port debug A6 # 24

set_io --warn-no-port usb_pu A3
