set_io clk 37
set_frequency clk 38

# SPI
set_io spi_sck 15
set_frequency spi_sck 8

set_io spi_cs 16
set_io spi_sdi 17
set_io spi_sdo 14

# TX
#set_io tx_active 42
#set_io tx_inverted 43
#set_io tx_delay 41

# RX
set_io rx 40

set_io debug_0 43
set_io debug_1 42
set_io debug_2 41
